body.home .mdl-grid.home .mdl-cell {
  opacity:0;
}

body.home .is-upgraded .mdl-grid.home .mdl-cell {
  opacity: 1;
}

.home .mdl-layout__content {
  display: flex;
  align-items: center;
}

.mdl-layout__title {
  font-family: "Roboto Slab", Roboto;
}

article,
article footer > .mdl-card {
  width: 100%;
}

.mdl-layout__title > a,
.mdl-layout__title > a:hover,
.mdl-layout__title > a:link {
  text-decoration: none;
  color:inherit;
}

article header > div img {
  width:100%;
  height: auto;
}

article header > div {
  max-height:18rem;
  overflow:hidden;
  margin: 1rem 0 2rem;
}

.mdl-grid.blog .mdl-navigation {
  display:flex;
  justify-content: space-between;
}
.mdl-typography--display-4 {
  margin-top: -1em;
}
footer div img {
  width: 125px;
  height: auto;
}

.legal article nav {
  display:none;
}

.legal article h6 {
  font-weight: 600;
}

blockquote:before,
blockquote:after {
  content: "";
}
