{{ partial "header.html" . }}

<div class="mdl-grid {{ .Type }}">
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--2-offset-desktop mdl-cell--4-col-phone">
    <article>
      <header>
        <h1>{{ .Title | title }}</h1>
      </header>
      <section id="article-content">
        {{ .Content }}
      </section>
      <footer>
        <address></address>
      </footer>
    </article>
  </div>
</div>
{{ partial "footer.html" . }}
