{{ partial "header.html" . }}

<div class="mdl-grid {{ .Title | lower }}">
  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--stretch">
    <h1>{{ .Title }}</h1>
    <ul class="mdl-list">
      {{ $data := .Data }}
      {{ range $key, $value := first 10 .Data.Terms.ByCount }}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">bookmark</i>
          <a class="mdl-list__item-text" href="/tags/{{ $value.Name | urlize }}">{{ $value.Name }}</a>
        </span>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ partial "footer.html" . }}
