  <nav class="mdl-navigation">
    <span class="mdl-navigation__link">
      <small>{{ .Site.Copyright | safeHTML }}
        </br>
        77 Summer Street Suite 5<br>
        Boston, MA 02110<br>
        <a href="tel:+13024693425">(302) 469-3245</a></br>
        <a href="{{ .Site.BaseURL }}usage/">Terms of Use</a>
        <a href="{{ .Site.BaseURL }}privacy/">Privacy Policy</a>
      </small>
    </span>
  </nav>
