 </main> 
  {{ if .IsHome }}{{ else }}{{partial "mini-footer.html" . }}{{end}}
  </div>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
  {{ if .IsPage }}{{ if eq .Type "blog" }}{{ partial "disqus.html" . }}{{end}}{{end}}
  <script async src="/js/mdl.js"></script>
</body>
</html>
