<head itemscope itemtype="//schema.org/WebSite">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ partial "description.html" . }}">
  <meta name="author" content="{{ .Site.Author.name }}">
  <base href="/">
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url">
  <meta name="og:url" content="{{ .Permalink }}">
  <meta name="og:title" content="{{ if .IsHome }}{{ .Title | title }} | {{ .Site.Params.subtitle }} {{ else }}{{ .Title | title }} &middot; {{ .Site.Title }}{{ end }}">
  <meta name="og:description" content="{{ partial "description.html" . }}">
  <meta name="og:image" content="{{ if .IsPage }}{{if eq .Type "blog"}}{{ .Site.BaseURL }}img{{ substr .RelPermalink 5 -1 }}.jpg{{end}}{{end}}">
  <meta name="og:type" content="{{if .IsPage }}{{if eq .Type "blog" }}article{{else}}website{{end}}{{else}}website{{end}}">
  <meta property="og:updated_time" content="{{ .Date }}">
  <meta name="ROBOTS" content="{{if .IsNode }}{{if .Data.Pages }}{{else}}NO{{end}}{{end}}INDEX, FOLLOW"/>
  {{.Hugo.Generator}}

  <title itemprop="name">{{ if .IsHome }}{{ .Title | title }}: {{ .Site.Params.subtitle }}{{ else }}{{ .Title | title }} &middot; {{ .Site.Title | title }}{{ end }}</title>
  {{ partial "head_includes.html" . }}
  {{ partial "google_analytics.html" . }}
</head>
