 {{ with .Site.Params.mdlVersion }}
  {{ $mdl := "https://code.getmdl.io/" }}
  {{ $googlefont := "https://fonts.googleapis.com/" }}

  <link rel="stylesheet" href="{{ $mdl }}{{ . }}/material.grey-deep_purple.min.css">
  <link rel="stylesheet" href="{{ $googlefont }}icon?family=Material+Icons"/>
  
  <link rel="preload" href="{{ $googlefont }}css?family=Roboto:300,400,500,600|Roboto+Slab:400,600" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ $googlefont }}css?family=Roboto:300,400,500,600|Roboto+Slab:400,600"/></noscript>
  <script defer src="{{ $mdl }}{{ . }}/material.min.js"></script>
{{ end }} 
  <!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="preload" as="style" onload="this.rel='stylesheet'"
integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous"> 
<noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/></noscript>
  <link rel="stylesheet" href="/css/mdl.css">
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}index.xml" />

  <script>
    document.getElementsByTagName('base')[0].setAttribute('href', window.location.protocol + '//' + window.location.host);
  </script>
  <script async src="/js/onloadCSS.js"></script>
  <script async src="/js/cssrelpreload.js"></script>

  {{ partial "favicon.html" . }}
