{{ with .Site.Params.mdlVersion }}
  {{ $mdl := "https://code.getmdl.io/" }}
  {{ $googlefont := "https://fonts.googleapis.com/" }}
  <link rel="stylesheet" href="{{ $mdl }}{{ . }}/material.grey-deep_purple.min.css">
  <link rel="stylesheet" href="{{ $googlefont }}icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ $googlefont }}css?family=Roboto:200,300,400,500,600,700|Roboto+Mono|Roboto+Slab:400,600">
  <script src="{{ $mdl }}{{ . }}/material.min.js"></script>
{{ end }}
