<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">{{ $.Site.Title }}</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/usage/">Terms and Conditions</a></li>
    </ul>
  </div>
  <div itemscope itemtype="//schema.org/Organization" class="mdl-mini-footer__right-section">
    <link itemprop="url" href="//www.cortexautomation.xyz">
    <ul class="mdl-mini-footer__link-list">
      {{ partial "social.html" . }}
    </ul>
  </div>
</footer>

