<nav class="mdl-navigation">
  {{ $currentNode := . }}
  {{ range .Site.Menus.nav }}
  <a 
  class="mdl-navigation__link {{if or ($currentNode.IsMenuCurrent "nav" .) ($currentNode.HasMenuCurrent "nav" .) }}active{{end}}" 
  href="{{.URL}}">{{ .Name }}
  </a>
  {{end}}
</nav>

