<div class="mdl-card">
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <span itemprop="name">{{ $.Params.by }}</span>
    </h3>
  </div>

  <div class="mdl-card__supporting-text">

    Posted: <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
    <meta itemprop="datePublished" 
          content="{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}">
    <meta itemprop="dateModified" 
          content="{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}">
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    {{ $baseUrl := .Site.BaseURL }}


    {{ if isset .Params "tags" }}
    {{ $count := len .Params.tags }}
    {{ if gt $count 0 }}
    Tags:  
    {{ range $k, $v := .Params.tags }}
    <a class="" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . | title }}</a>{{ if lt $k (sub $count 1) }} &nbsp;{{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
  {{ if isset .Params "categories" }}
  {{ $count := len .Params.categories }}
  {{ if gt $count 0 }}
  <div>
    <i class="material-icons">folder</i>
    {{ range $k, $v := .Params.categories }}
    <a class="post-taxonomy-category" href="{{ $baseUrl }}categories/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

</div>
