{{ if or (.Prev) (.Next) }}
    <nav class="mdl-navigation">
      {{ if .Prev }}
    
      <a class="mdl-navigation__link" href="{{ .Prev.Permalink }}">
        <i class="material-icons">chevron_left</i>
        {{ .Prev.Title }}
      </a>
    {{ end }}
    <span>&middot;</span>
    {{ if .Next }}
     <a class="mdl-navigation__link" href="{{ .Next.Permalink }}">
        {{ .Next.Title }}
        <i class="material-icons">chevron_right</i>
      </a>
    {{ end }}
</nav>
{{ end }}
