{{ partial "header.html" . }}

<div class="mdl-grid error">
  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.description }}</h2>
  </div>
</div>
{{ partial "footer.html" . }}
