{{ partial "header.html" . }}

<div class="mdl-grid home">
  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <h1 class="mdl-typography--display-4">{{ substr .Title 0 6 | title }}</h1>
    <p class="mdl-typography--subhead-color-contrast">{{ .Site.Params.subtitle | title }}</p>
  </div>
</div>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "CortexAutomation",
  "url" : "https://www.cortexautomation.xyz",
  "sameAs" : [
    "https://www.facebook.com/cortexautomation",
    "https://www.twitter.com/cortexai",
    "https://plus.google.com/MeetcortexXyz",
    "https://github.com/meetcortex"
  ]
}
</script>
{{ partial "footer.html" . }}
